.header {
  width: 100%;
  background-color: #f18cc4;
  padding: 12px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  width: 100%;
  padding: 15px 10px;
  overflow: hidden;
  z-index: 1000;
  position: sticky;
  opacity: 0.9;
}


.header__icons {
  display: flex;
  gap: 2rem;
}