
body,
html {
font-family: 'Advent Pro', 'Raleway', sans-serif;
font-size: 20px;
margin: 0;
background-image: url('./assets/bg.jpeg');
background-repeat:no-repeat;
background-size: cover;
box-sizing: border-box;
position: relative;
}
.container {
    width: 100%;
    padding: 15px 10px;
    overflow: hidden;
    z-index: 1000;
    position: sticky;
    opacity: 0.9;
  }
.container ::content {
   padding: 20px 0;
}